/*********************************
 * CSS @media screen (not projection or print)
 *
 * 1) projection -> slideshow mode (display one slide at-a-time; hide all others)
 * 2) screen     -> outline mode (display all slides-at-once on screen) 
 * 3) print      -> print (and print preview)
 *
 * toogle between slideshow/outline mode using t-key
 */


/****
 * hide layout stuff (header, footer, navLinks, navList etc.)
 */

.layout * { display: none; }

.projection { display: none; }

/*************
 * make toggle button visible and reposition to upper right corner *
 * note: toogle button is nested inside #controls > #navLinks > #toogle
 */

#controls,
#navLinks,
#toggle    { display: block;
             visibility: visible;
             margin: 0; padding: 0;
           }

#toggle { position: fixed;
          top: 0; right: 0;
          padding: 0.5em; 
          border-left: 1px solid;
          border-bottom: 1px solid;
          background: white;
        }


/*************
 * making the outline look pretty-ish
 */

#slide1, #slide1 h1, #slide1 h2, #slide1 h3, #slide1 h4 {border: none; margin: 0;}
#slide1 h1 {padding-top: 1.5em;}

.slide { margin: 1.5em 0 0; border-top: 1px solid #888; }
.slide h1 { border-bottom: 1px solid #AAA; }

