# Sample template package manifest using S5.11 blank package
# Change as desired/needed
#
# Configured to use the following headers in header.html.erb:
# 
# author: Your Name Here
# company: Your Company Here
# title: Your Slide Show Title Here
# subtitle: Your Subtitle Here
# footer: Your Footer Here
# subfooter: Your Subfooter Here
#
# Questions? Comments?
# Send them along to the Free Web Slide Show Alternatives (S5, S6, S9 And Friends) Forum/Mailing List. 
# http://groups.google.com/group/webslideshow

__file__.html header.html.erb + footer.html.erb
ui/default/blank.gif
ui/default/bodybg.gif
ui/default/framing.css
ui/default/iepngfix.htc
ui/default/opera.css
ui/default/outline.css
ui/default/pretty.css
ui/default/print.css
ui/default/s5-core.css
ui/default/slides.css
ui/default/slides.js
