# S6 template package manifest sample
# Change as desired/needed
#
# Questions? Comments?
# Send them along to the Free Web Slide Show Alternatives (S5, S6, S9 And Friends) Forum/Mailing List. 
# http://groups.google.com/group/webslideshow

__file__.svg    gradient.svg.erb
__file__.html   header.html.erb + footer.html.erb 
__file__.css    style.css.erb
s6/jquery.js
s6/outline.css
s6/print.css
s6/slides.css
s6/slides.js