/* todo: use lesser vor color variables such as @ruby
*/

body
{
  font-family:  Helvetica,Arial,sans-serif; 
}

h1
{
  border-bottom: 1px solid black;   
}

h2
{
  border-bottom: 1px solid black;
  font-weight: bold; 
}


ul { list-style-type: square; }

span.highlight { background-color: yellow;
                 font-weight:bold;
               }

#header {
   padding: 0.25em;
}

#header .small
{
  font-size: 120%;
  color: gray;
  padding-left: 15px;
}

#header .big
{
  font-size: 200%;
  font-weight: bold;
}


#nav {
  padding: 0.5em;
}

a, a:visited {
  color: #8b0000;  /* dark red/ruby */
  text-decoration: none;
}

a:hover {
  border-bottom: 2px dotted #8b0000;
  background-color: yellow;
}

#nav a, #nav a:visited {
   text-decoration: none;
}
#nav a:hover {
  border-bottom: 2px dotted #8b0000;
}


#content {
  padding: 0.5em; 
}


.programlisting
{
  padding: 4px 4px 4px 4px;
  border-top: #bbb 1px solid;
  border-bottom: #bbb 1px solid;
  background: #f3f3f3;
}

/*
.programlisting
{
   color: white;
   background-color: black;
   padding: 0.5em;
}
*/

.toc
{
   width: 35%;
   float: right;
   /* border: silver solid 1pt; */
   border: #bbb solid 1pt;
   background-color: #eeeeee;
   font-size: 80%;
}

.toc-title
{
   text-align: center;
   font-weight: bold;
}


/* styles for ultraviolet code syntax highlighting theme 'eiffel' */

/* use our own background
pre.eiffel .EmbeddedSource {
   background-color: #6597F6;
}
pre.eiffel {
   background-color: #FFFFFF;
   color: #000000;
}
*/

pre.eiffel .LibraryObject {
   font-weight: bold;
   color: #6D79DE;
}
pre.eiffel .Section {
   font-style: italic;
}
pre.eiffel .FunctionArgumentAndResultTypes {
   color: #70727E;
}
pre.eiffel .TypeName {
   font-style: italic;
}
pre.eiffel .Number {
   color: #CD0000;
   font-style: italic;
}
pre.eiffel .MarkupList {
   color: #B90690;
}
pre.eiffel .MarkupTagAttribute {
   font-style: italic;
}
pre.eiffel .LibraryVariable {
   font-weight: bold;
   color: #21439C;
}
pre.eiffel .line-numbers {
   background-color: #C3DCFF;
   color: #000000;
}
pre.eiffel .FunctionParameter {
   font-style: italic;
}
pre.eiffel .MarkupTag {
   color: #1C02FF;
}
pre.eiffel .MarkupHeading {
   font-weight: bold;
   color: #0C07FF;
}
pre.eiffel .JsOperator {
   color: #687687;
}
pre.eiffel .InheritedClassName {
   font-style: italic;
}
pre.eiffel .StringInterpolation {
   color: #26B31A;
}
pre.eiffel .MarkupQuote {
   color: #000000;
   font-style: italic;
}
pre.eiffel .MarkupNameOfTag {
   font-weight: bold;
}
pre.eiffel .InvalidTrailingWhitespace {
   background-color: #FFD0D0;
}
pre.eiffel .LibraryConstant {
   font-weight: bold;
   color: #06960E;
}
pre.eiffel .MarkupXmlDeclaration {
   color: #68685B;
}
pre.eiffel .PreprocessorDirective {
   font-weight: bold;
   color: #0C450D;
}
pre.eiffel .BuiltInConstant {
   color: #585CF6;
   font-style: italic;
}
pre.eiffel .MarkupDtd {
   font-style: italic;
}
pre.eiffel .Invalid {
   background-color: #990000;
   color: #FFFFFF;
}
pre.eiffel .LibraryFunction {
   font-weight: bold;
   color: #3C4C72;
}
pre.eiffel .String {
   color: #D80800;
}
pre.eiffel .UserDefinedConstant {
   color: #C5060B;
   font-style: italic;
}
pre.eiffel .Keyword {
   font-weight: bold;
   color: #0100B6;
}
pre.eiffel .MarkupDoctype {
   color: #888888;
}
pre.eiffel .FunctionName {
   font-weight: bold;
   color: #0000A2;
}
pre.eiffel .PreprocessorLine {
   color: #1A921C;
}
pre.eiffel .Variable {
   color: #0206FF;
   font-style: italic;
}
pre.eiffel .Comment {
   color: #00B418;
}


