---
---

<html>
  <head>
    <title>pakman Test Template</title>
  </head>
  <body>
    
   <h1>Hello pakman</h1>    

   <h3>Headers</h3>
   
   <ul>
    <li>author: {{ headers.author }}</li>
    <li>title:  {{ headers.title }}</li>
    <li>email:  {{ headers.email }}</li>
    <li>footer:     {{ headers.footer }}</li>
    <li>subfooter:  {{ headers.subfooter }}</li>
    <li>authorxxx: {{ headers.authorxxx }}</li>  <!-- check missing keys too -->
   </ul>

  <ul>
    <li>author: {{ headers['author'] }}</li>
    <li>title:  {{ headers['title'] }}</li>
    <li>authorxxx: {{ headers['authorxxx'] }}</li>  <!-- check missing keys too -->
  </ul>

  <h3>Slides</h3>   
      
   {% for slide in slides %}
     <div>{{ slide.header }}</div>       
     <div>{{ slide.content_without_header }}</div>
   {% endfor %}
    
   <!-- begin (all-in-one) content -->
     {{ content }}
   <!-- end (all-in-one) content -->
    
  </body>
</html>
