/* todo: use lesser vor color variables such as @ruby
*/

body
{
   font-family:  Helvetica,Arial,sans-serif; 
   margin: 0;
}

h1,h2,h3 {
   /* color: #8b0000;  /* dark red/ruby */
}

h2
{
 /* old-style:
   padding: 0.2em;
   background-color: #8b0000;  // dark red/ruby 
   color: white;
   font-weight: bold;
 */
   border-bottom: 1px solid #bbb;
 /*
   background-color: #eeeeee;  
 */
   font-weight: bold; 
}


ul { list-style-type: square; }

span.highlight { background-color: yellow;
                 font-weight:bold;
               }

#header {
   color: white;
   background: #8b0000;  /* dark red/ruby */
   font-size: 200%;
   padding: 0.25em;
   margin-bottom: 0;
}

#nav {
  color: black;
  font-weight: bold;
  background: #eeeeee;
  padding: 0.5em;
}

a, a:visited {
  color: #8b0000;  /* dark red/ruby */
  text-decoration: none;
}

a:hover {
  border-bottom: 2px dotted #8b0000;
  background-color: yellow;
}

#nav a, #nav a:visited {
   text-decoration: none;
}
#nav a:hover {
  border-bottom: 2px dotted #8b0000;
}


#content {
  padding: 0.5em; 
}


.programlisting
{
  padding: 4px 4px 4px 4px;
  border-top: #bbb 1px solid;
  border-bottom: #bbb 1px solid;
  background: #f3f3f3;
}

/*
.programlisting
{
   color: white;
   background-color: black;
   padding: 0.5em;
}
*/

.toc
{
   width: 35%;
   float: right;
   /* border: silver solid 1pt; */
   border: #bbb solid 1pt;
   background-color: #eeeeee;
   font-size: 80%;
}

.toc-title
{
   text-align: center;
   font-weight: bold;
}